.chrono_element{
    position: relative;
    top: 70pt;
}


.equipe{
    vertical-align: middle;
    text-align: center;

    color: rgba(0, 42, 97, 0.918);


}

ion-button {
    --color: rgb(237, 238, 245);
    --background: #211ef3;
}

.gauche{
    position: relative;
    left: 20pt;
    font-size: 11pt;
    margin-left: 5pt;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serifs;
    
}